<div class="container col-c-4">
  <div class="row">
    <div class="col-3">
      <sc-placeholder name="c1" [rendering]="rendering"></sc-placeholder>
    </div>
    <div class="col-3">
      <sc-placeholder name="c2" [rendering]="rendering"></sc-placeholder>
    </div>
    <div class="col-3">
      <sc-placeholder name="c3" [rendering]="rendering"></sc-placeholder>
    </div>
    <div class="col-3">
      <sc-placeholder name="c4" [rendering]="rendering"></sc-placeholder>
    </div>
  </div>
</div>